@model IEnumerable<Domain.Model.Tag>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">

<p>
   @Html.ActionLink("Add", "Create",null,new {@class="btn btn-success"}) 
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TagName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagSlug)
        </th>
        <th>
            Operation
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TagName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TagSlug)
        </td>
        <td>          
            @Html.ActionLink("Edit", "Edit", new { id=item.TagId },new {@class="btn btn-success"})&nbsp;
            @Html.ActionLink("Details", "Details", new { id=item.TagId },new {@class="btn btn-success"})&nbsp;
            @Html.ActionLink("Delete", "Delete", new { id=item.TagId },new {@class="btn btn-success"})
        </td>
    </tr>
}

</table>
</div>