@model IEnumerable<Domain.Model.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
<h2>Index</h2>
<p>
    @Html.ActionLink("Add", "Create",null,new {@class="btn btn-success"})
</p>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategorySlug)
            </th>
            <th>
                Option
            </th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategorySlug)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId },new{@class="btn btn-success"})&nbsp;
                    @Html.ActionLink("Details", "Details", new { id=item.CategoryId },new{@class="btn btn-success"})&nbsp;
                    @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId },new{@class="btn btn-success"})
                </td>
            </tr>
        }

    </table>    
</div>